.section-wrapper {
  position: relative;
  --max-width: 1110px;
  --padding: 1.25rem;
  width: min(var(--max-width), 100% - var(--padding)*2);
  margin-inline: auto;
}
.image-card{
    box-shadow: 0px 5px 28.3px 0px #FFFFFF36;
}
@font-face {
  font-family: 'subrayada';
  src: url('./assets/fonts/b3777f66-ab81-457a-aedf-6e00949993a5.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'subrayada', sans-serif;
}
.subrayada{
  font-family: 'subrayada', sans-serif;
}
 
.animate-slide-up {
    animation: slideUp 3s ease-out forwards; 
}

@keyframes slideUp {
    0% {
        top: -10%; 
    }
    100% {
        top: -20%; 
    }
}
