.section-wrapper {
  position: relative;
  --max-width: 1110px;
  --padding: 1.25rem;
  width: min(var(--max-width), 100% - var(--padding)*2);
  margin-inline: auto;
}

.image-card {
  box-shadow: 0px 5px 28.3px 0px #FFFFFF36;
}

@font-face {
  font-family: 'subrayada';
  src: url('./assets/fonts/b3777f66-ab81-457a-aedf-6e00949993a5.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'subrayada', sans-serif;
}

.subrayada {
  font-family: 'subrayada', sans-serif;
}

.animate-slide-up {
  opacity: 0;
  visibility: hidden;
  animation: slideUp 3s ease-in-out forwards;
}

@keyframes slideUp {
  0% {
    transform: translateY(100px);
    opacity: 0;
    visibility: hidden;
  }

  40% {
    opacity: 0.3;
    visibility: visible;
  }

  70% {
    opacity: 0.7;
  }

  100% {
    transform: translateY(-220px);
    opacity: 1;
    visibility: visible;
  }
}


@media (max-width:1025px) {
  @keyframes slideUp {
    0% {
      transform: translateY(100px);
      opacity: 0;
      visibility: hidden;
    }

    100% {
      transform: translateY(-200px);
      opacity: 1;
      visibility: visible;
    }
  }

}

@media (max-width:768px) {
  @keyframes slideUp {
    0% {
      transform: translateY(100px);
      opacity: 0;
      visibility: hidden;
    }

    100% {
      transform: translateY(-190px);
      opacity: 1;
      visibility: visible;
    }
  }
}

@media (max-width:480px) {
  @keyframes slideUp {
    0% {
      transform: translateY(20px);
      opacity: 0;
      visibility: hidden;
    }

    100% {
      transform: translateY(-180px);
      opacity: 1;
      visibility: visible;
    }
  }
}
 
/* Cloud Animation */
.cloud-left {
  animation: floatRightLeft 9s linear alternate forwards;
}

.cloud-right {
  animation: floatLeftRight 9s linear alternate forwards;
}

/* Move clouds out of screen using vw */
@keyframes floatLeftRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(110vw); /* 110% of viewport width, fully out */
  }
}

@keyframes floatRightLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-110vw); /* fully out left */
  }
}

.cloud-up{
  animation: cloudup 6s forwards;
}
@keyframes cloudup{
  0% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(-35%); 
  }
}
.cloud-up-right img {
  transform: scale(3);
}
.cloud-up-left{
 transform: scale(3);
}
 

